@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
  font-size: 16px;
  margin: 0;
}

section {
  color: #fff;
  padding: 60px 0;
  overflow: clip;
}

.object-position-custom {
  object-position: left top;
}

.container-custom {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

h1,
p,
h2,
ul,
li {
  margin: 0;
  padding: 0;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  left: 0;
  bottom: -13px;
}

li {
  padding-bottom: 10px;
}

.custom-resume::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: white;
  border: 2px solid #149ddd;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}